{% extends 'base.html' %}
{% block content %}
    <h1>Products</h1>
    {% if user.is_staff %}
    <p><a class="btn btn-primary" href="{% url 'product_new' %}">New</a></p>
    {% endif %}
    <div class='row'>
        {% for product in products %}
        <div class='col-sm-12 col-md-4'>
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url }}" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="{% url 'product' product.id %}"><h5 class="card-title">{{ product.name }}</h5></a>
                    <p class="card-text">{{ product.price }} Kc</p>
                    <a href="{% url 'cart_add' product.id 1 %}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
