{% extends 'base.html' %}
{% block content %}
<h1>My Orders</h1>
<table class="table">
    <tr>
        <th>id</th>
        <th>Delivery service</th>
        <th>Payment method</th>
        <th>Street</th>
        <th>City</th>
        <th>Country</th>
        <th>PSC</th>
        <th>Note</th>
        <th></th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.delivery_service.name }}</td>
        <td>{{ order.payment_method.name }}</td>
        <td>{{ order.street }}</td>
        <td>{{ order.city }}</td>
        <td>{{ order.country }}</td>
        <td>{{ order.psc }}</td>
        <td>{{ order.note }}</td>
        <td><a class="btn btn-primary" href="{% url 'order_detail' order.id %}">Detail</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
