{% extends "base.html" %}

{% block content %}

<form method="post" action="{% url 'order_new' %}">
    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
    <div class="form-group">
        {{ form.payment_method.errors }}
        {{ form.payment_method.label_tag }}
        {{ form.payment_method }}
    </div>
    <div class="form-group">
        {{ form.delivery_service.errors }}
        {{ form.delivery_service.label_tag }}
        {{ form.delivery_service }}
    </div>
    <div class="form-group">
        {{ form.street.errors }}
        {{ form.street.label_tag }}
        {{ form.street }}
    </div>
    <div class="form-group">
        {{ form.city.errors }}
        {{ form.city.label_tag }}
        {{ form.city }}
    </div>
    <div class="form-group">
        {{ form.country.errors }}
        {{ form.country.label_tag }}
        {{ form.country }}
    </div>
    <div class="form-group">
        {{ form.psc.errors }}
        {{ form.psc.label_tag }}
        {{ form.psc }}
    </div>
    <div class="form-group">
        {{ form.note.errors }}
        {{ form.note.label_tag }}
        {{ form.note }}
    </div>

    <input class="btn btn-primary" type="submit" value="Send Order">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}
